name: SonarQube Analysis

   on:
     push:
       branches:
         - main
     pull_request:
       branches:
         - main

   jobs:
     sonarqube:
       runs-on: self-hosted
       steps:
         - uses: actions/checkout@v3
         
         - name: SonarQube Scan
           uses: SonarSource/sonarqube-scan-action@master
           env:
             SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
             SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
